<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="coolite" type="Coolite.Ext.Web.GlobalConfig" requirePermission="false" />
        <section name="reflex" type="RefleXFrameWork.GlobalConfig" requirePermission="false" />
        <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <section name="Plus.Logging" type="Plus.Logging.Config.UPTLoggingConfigurationSectionHandler, Plus.Logging" />
    </configSections>
    <dataConfiguration defaultDatabase="DefaultConnection" />
    <connectionStrings>
      <!--UATUAT
      <add name="LocalAVEA" connectionString="Data Source=sql2008srv;Initial Catalog=DIVACRM_AVEA;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
        <add name="LocalAB" connectionString="Data Source=sql2008srv;Initial Catalog=DIVACRM_TU;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
      
        <add name="DefaultConnection" connectionString="Data Source=tutestcls.aktifbank.com.tr;Initial Catalog=DIVACRM_TU;User ID=tu;Password=tu112233; Max Pool Size=1000" providerName="System.Data.SqlClient"/>
      -->



<!-- Tu da geliştir lisana a aktar-->
<add name="DefaultConnection" connectionString="Data Source=upttestcls.aktifbank.com.tr;Initial Catalog=DIVACRM_TU;User ID=tu;Password=tu112233; Max Pool Size=120" providerName="System.Data.SqlClient" />
<add name="DefaultConnectionText" connectionString="Data Source=upttestcls.aktifbank.com.tr;Initial Catalog=DIVACRM_TU_LISANS;User ID=tu_lisans;Password=tu_452lisans; Max Pool Size=1000; Connection Timeout=0" providerName="System.Data.SqlClient" />
<add name="DefaultConnectionLive" connectionString="Data Source=tucls.aktifbank.com.tr;Initial Catalog=DIVACRM_TU;User ID=tu;Password=Wtvp_!21DBAZu!gw; Max Pool Size=120;Connection Timeout=0" providerName="System.Data.SqlClient" />






      <!--UAT3UAT3
      <add name="DefaultConnection" connectionString="Data Source=upttestcls;Initial Catalog=DIVACRM_TU_LISANS;User ID=tu_lisans;Password=tu_452lisans; Max Pool Size=120" providerName="System.Data.SqlClient" />
      -->
      
      
      		

      
      <!--DİKKAT! PRODUCTION-->
        <!--<add name="DefaultConnection" connectionString="Data Source=tucls.aktifbank.com.tr;Initial Catalog=DIVACRM_TU;User ID=tu;Password=xq#58efd_20xs; Max Pool Size=120" providerName="System.Data.SqlClient"/>-->
      <!--DİKKAT! PRODUCTION-->
        <add name="Vestel" connectionString="Data Source=10.0.51.127;Initial Catalog=DIVACRM;User ID=coretech;Password=123$abc; Max Pool Size=120" providerName="System.Data.SqlClient" />
        <add name="Profiterol" connectionString="Data Source=ctsrv_sql2005;Initial Catalog=DIVACRM_PROFITEROL;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
        <add name="Base" connectionString="Data Source=sql2008srv;Initial Catalog=DIVACRMBASE;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
        <add name="PG" connectionString="Data Source=sql2008srv;Initial Catalog=DIVACRM_PG;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
        <add name="SIGORTA" connectionString="Data Source=sql2008srv;Initial Catalog=CORETECHCRM_CEVA;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
        <add name="CAGRI" connectionString="Data Source=sql2008srv;Initial Catalog=DIVACRM_CAGRI;User ID=sa;Password=; Max Pool Size=120" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <coolite cleanResourceUrl="true" gzip="true" scriptAdapter="Ext" scriptMode="Release" theme="Slate" />
    <reflex FrameWorkResourceUrl="http://localhost/RefleX/" scriptMode="Debug" theme="UptCustomTheme" pageRenderTime="false" />
    <appSettings>
        <add key="EncryptSections" value="system.web/sessionState;connectionStrings;appSettings" />
        <add key="FrameWorkType" value="RefleX" />
        <add key="CacheActive" value="false" />
        <add key="ValidationHelperSecurityKey" value="s1e4c5r3eit" />
        <add key="Description" value="Deneme" />
        <add key="UploadRootFolder" value="" />
        <add key="SiteName" value="Coretech.Crm.Web" />
        <add key="SiteAppFolder" value="" />
        <add key="Certificate" value="D:\Projects\Certificate\mhvestel.cer" />
        <add key="SapWebserviceHostAddress" value="https://crm.vestel.com.tr/sap/bc/soap/rfc" />
        <add key="SapEntUserName" value="ccuser" />
        <add key="SapEntUserpwd" value="coretech" />
        <add key="ExportPath" value="ExportXls" />
        <add key="ImportPath" value="C:\ImportPath\" />
        <add key="ApplicationHTTP" value="http://localhost:62453/" />
        <add key="ApplicationHTTPS" value="http://localhost:62453/" />
        <add key="ImageFolder" value="" />
        <add key="ApplicationName" value="Vezir 1.0 " />
        <add key="CompanyLogo" value="images/Company/empty_crm.png" />
        <add key="ApplicationMainForm" value="CrmPages/Main1.aspx" />
        <add key="CagriKarsilamaListRowCount" value="10" />
        <add key="LoginLangId" value="1055" />
        <add key="LoadingOpacity" value="10" />
        <!--<add key="HomePageUrl" value="about:blank"/>-->
        <add key="HomePageUrl" value="" />
        <add key="authentication" value="windows-" />
        <add key="ResetUserPwdKey" value="vestel" />
        <add key="HttpModuleExcludedExtensions" value=".asmx" />
        <add key="ReportDataSource" value="/DataSources/CRMDATASOURCE" />
        <add key="ReportFolder" value="/TU_REPORTS" />
        <add key="ReportServer" value="http://10.90.15.167:80" />
        <add key="ReportServerVirtualAddress" value="ReportServer" />
        <add key="ReportServerSericeType" value="2008-2005" />
        <add key="ReportViewerUser" value="tu_report_test" />
        <add key="ReportViewerPassword" value="LfY1AOE4bBlumqVoZidC" />
        <add key="ReportViewerDomain" value="AKTIFBANK" />
        <add key="AktifBankUserName" value="TRUNION_USER" />
        <add key="AktifBankPassword" value="326b1650c9f4c3dd91d25a16665636e916730c61" />
        <add key="AktifBankLanguage" value="en" />
        <add key="AktifBankChannel" value="TRUNION" />
        <add key="AktifBankWebService" value="https://f5webtest.aktifbank.com.tr/TurkishUnionWebServices" />
        <add key="CorpServiceCallerUserName" value="8863" />
        <add key="CorpServiceCallerPassword" value="1" />
        <add key="CorpServiceCallerUrl" value="https://uptuat3.aktifbank.com.tr/ISV/TU/WebServices/v1_3/CorpService.asmx" />
    </appSettings>
    <!--<log4net>
        <appender name="GelfHttpAppender" type="Gelf4net.Appender.GelfHttpAppender, Gelf4Net.HttpAppender">
            <url value="http://10.90.14.64:12223/gelf"/>
            <layout type="Gelf4net.Layout.GelfLayout, Gelf4Net.HttpAppender">
                <param name="AdditionalFields" value="app:GelfHttpAppender,version:1.0,Environment:Dev,Level:%level"/>
                <param name="Facility" value="WebApp"/>
                <param name="IncludeLocationInformation" value="true"/>
                <param name="SendTimeStampAsString" value="false"/>
            </layout>
        </appender>
        <root>
            <level value="ALL"/>
            <appender-ref ref="GelfHttpAppender"/>
        </root>
    </log4net>-->
  <Plus.Logging>
    <appender name="GelfUdpAppender" type="Plus.Logging.Appender.GelfUdpAppender, Plus.Logging">
      <remoteAddress value="10.90.14.63" />
      <remotePort value="12222" />
      <layout type="Plus.Logging.Layout.GelfLayout, Plus.Logging">
        <param name="AdditionalFields" value="app:GelfHttpAppender,version:1.0,Environment:Dev,Level:%level" />
        <param name="Facility" value="WebApp" />
        <param name="IncludeLocationInformation" value="true" />
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
    <logger name="GelfUdpAppender">
      <appender-ref ref="GelfUdpAppender" />
      <level value="ALL" />
    </logger>
  </Plus.Logging>
  <system.web>
        <webServices>
            <!--<soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
            <protocols>
                <add name="HttpSoap" />
                <add name="HttpSoap12" />
                <!--<remove name="HttpPostLocalhost"/>-->
                <remove name="HttpPost" />
                <remove name="HttpGet" />
            </protocols>
        </webServices>
        <machineKey validationKey="95B944D3FDF03A4F965D56A339DDC14685D00F12FE40950A6E5504ED3B236287A59A9732EE583D34730A6852367163FDF7EBE9C893D9ABFB7C1516335DF8EACB" decryptionKey="9E424487B15A1AC59351522E2EFAF523E64E05023CDAE0DD6B8F7925FA7225E9" validation="SHA1" decryption="AES" />
        <httpRuntime requestValidationMode="2.0" maxRequestLength="16384" />
        <!--<httpRuntime encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
        <!--<sessionState mode="SQLServer" sqlConnectionString="data source=sql2008srv;user id=sa;password=" cookieless="false" timeout="9999999"/>-->
        <!-- <sessionState mode="SQLServer" cookieless="false" timeout="9999999" sqlConnectionString="data source=tutestcls.aktifbank.com.tr;user id=tu;password=tu112233" /> -->
        <!--<sessionState mode="SQLServer" cookieless="false" timeout="9999999" sqlConnectionString="data source=10.0.51.127;user id=coretech;password=123$abc"/>-->
        <!--<sessionState mode="SQLServer" cookieless="false" timeout="9999999" sqlConnectionString="data source=ctsrv_sql2005;user id=sa;password="/>-->
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <!--<add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
                <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
            <buildProviders>
                <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </buildProviders>
        </compilation>
        <authentication mode="Windows" />
        <customErrors mode="Off">
        </customErrors>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <identity impersonate="false" />
        <trust level="Full" />
        <httpHandlers>
            <add path="*/coolite.axd" verb="*" type="Coolite.Ext.Web.ResourceManager" validate="false" />
            <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
        </httpHandlers>
        <httpModules>
            <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />
            <add name="HttpRedirect" type="RefleXFrameWork.HttpRedirect" />
        </httpModules>
    </system.web>
    <microsoft.web.services3>
        <diagnostics>
            <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
        </diagnostics>
        <security>
            <securityTokenManager>
                <add type="Avea.WS.Factory.AveaUsernameTokenManager, Avea.WS.Factory" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken" />
            </securityTokenManager>
        </security>
        <policy fileName="wse3policyCache.config" />
    </microsoft.web.services3>
    <location path="ajaxpro">
        <system.web>
            <httpHandlers>
                <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
            </httpHandlers>
        </system.web>
    </location>
    <location path="ISV/TU/Transfer/TransferMain.aspx">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Allow-Origin" value="*" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <modules>
            <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web" />
            <add name="HttpRedirect" type="RefleXFrameWork.HttpRedirect" />
        </modules>
        <handlers>
            <add name="coolite_axd" path="*/coolite.axd" verb="*" type="Coolite.Ext.Web.ResourceManager" />
            <add name="Ajaxpro" path="ajaxpro/*.ashx" verb="*" type="AjaxPro.AjaxHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="API_Service1Soap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000" />
                <binding name="ScanServiceSoap" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <security mode="None"></security>
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
                </binding>
                <binding name="SimpleTransactionImportServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SimpleTransactionImportServicePortBinding1" />
                <binding name="AktifBankWebServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="YimServices_PortBinding" />
                <binding name="basicHttpBinding_RiaAsPayer" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
                </binding>
                <binding name="basicHttpBinding_RiaAsSender" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
            </wsHttpBinding>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_IWebService" maxReceivedMessageSize="2147483647" proxyAddress="http://wcg.aktifbank.com.tr:8080" useDefaultWebProxy="false">
                    <security>
                        <message clientCredentialType="Certificate" negotiateServiceCredential="false" establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
         <endpoint address="http://10.90.15.212/InspectorWebservices/Scanservice.asmx" binding="basicHttpBinding" bindingConfiguration="ScanServiceSoap" contract="ScanService.ScanServiceSoap" name="ScanServiceSoap" />
      <endpoint address="http://stagingfxglobalwebsvcnocert.riaenvia.net:9771/FXGlobalPaying.svc/Binding_Basic_NoCert" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_RiaAsPayer" contract="SvcRef_RiaAsPayer.IRiaAsPayer" name="basicHttpBinding_RiaAsPayer" />
      <endpoint address="http://stagingfxglobalwebsvcnocert.riaenvia.net:9771/FXGlobalSending.svc/Binding_Basic_NoCert" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_RiaAsSender" contract="SvcRef_RiaAsSender.IRiaAsSender" name="basicHttpBinding_RiaAsSender" />
      <endpoint address="http://test2.unistream.com:82/wcflib-tc/service.svc" binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IWebService" contract="WebServiceReferences.Unistream.IWebService" name="WS2007HttpBinding_IWebService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA0ISfyrz+Hfj6QsL46droENsrs04gAAAAAQAAALUBAAAwggGxMIIBGqADAgECAhB79qn5tv3boUryXxIW0/AzMA0GCSqGSIb3DQEBBQUAMBcxFTATBgNVBAMTDFVQbHVzU2VydmljZTAeFw0xMTExMjMyMTAwMDBaFw0yMTExMzAyMTAwMDBaMBcxFTATBgNVBAMTDFVQbHVzU2VydmljZTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEA6uaAYVcGR8PWDKJZnBpChoTX+mjSw97rglMn+osWrBQ666I95TPipGMucVE0qH5hYXsoj/pYnERkY4gvLWir9HZhCbOQUqFAiZg8OEkK5gcF7WnDdpVTgRMvic0PtsvIwTNRZHj79kgQVsDhndxJc0DhdhV9T3O9awUnDlA00WUCAwEAATANBgkqhkiG9w0BAQUFAAOBgQB3Qrf8GYo7hAnxmKnq2i+1R8ZWFYFn4IwUgeA7V5JNuTsE2P+6n4WT28QjoYY51mihjqMooTcJzhtfCIRfZozdoaWVg6iRuZdA+HduqZWNE2tf2uILdB6GFAse7Z3QuIVaI9FLcNdTS7g9/q7rKwgOmYdauE3umD0MQLcP4tTjbw==" />
        </identity>
      </endpoint>
      <endpoint address="http://10.90.15.105:81/AktifBankWebServis.asmx" binding="basicHttpBinding" bindingConfiguration="AktifBankWebServiceSoap" contract="Services.AktifBankWebServiceSoap" name="AktifBankWebServiceSoap" behaviorConfiguration="customObjectQuota" />
      <endpoint address="http://localhost:8080/ExampleSOAP" binding="basicHttpBinding" bindingConfiguration="YimServices_PortBinding" contract="PttCustAccountService.YimServices_PortType" name="YimServices_Port" />
      <endpoint address="http://52.220.96.111:2012/API_Service.asmx" binding="basicHttpBinding" bindingConfiguration="API_Service1Soap" contract="TransgloService.API_Service1Soap" name="API_Service1Soap" />
        </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="B2B_STAGING">
          <clientCredentials>
            <clientCertificate findValue="testclient.aktifbank.test" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <defaultCertificate findValue="stagingFXGlobalwebsvc.riaenvia.net" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectName" />
              <authentication certificateValidationMode="PeerOrChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="customObjectQuota">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="9ad232b50c3e6444" />
                <codeBase version="3.5.0.0" href="C:\repo\Dev\Coretech.Crm\Coretech.Crm.Web\Bin\Newtonsoft\Newtonsoft.Json.v3.5\Newtonsoft.Json.dll" />
                <codeBase version="5.0.1.16007" href="C:\repo\Dev\Coretech.Crm\Coretech.Crm.Web\Bin\Newtonsoft\Newtonsoft.Json.v5.1\Newtonsoft.Json.dll" />
                <codeBase version="6.0.5.17707" href="C:\repo\Dev\Coretech.Crm\Coretech.Crm.Web\Bin\Newtonsoft\Newtonsoft.Json.v6\Newtonsoft.Json.dll" />
                <codeBase version="10.0.3.21018" href="C:\repo\Dev\Coretech.Crm\Coretech.Crm.Web\Bin\Newtonsoft\Newtonsoft.Json.v10\Newtonsoft.Json.dll" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
            </dependentAssembly>
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
          </dependentAssembly>
        </assemblyBinding>
    <legacyCorruptedStateExceptionsPolicy enabled="true|false" />
    </runtime>
</configuration>
